*{
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	width: 100%;
}
#wrap {
	width: 650px;
    min-height: 900px;
    margin: 0 auto;
    margin-top: -170px;
    
}
header {
	background: linear-gradient(to bottom,silver 0%, black 100% );
	width: 100%;
	height: 130px;
	border: 1px solid black;
	
	font-size: 25px;

}
header h1 {
	text-align: center;
	line-height: 40px;
	color: white;
}
#slider{
	width: 650px;
	height: 300px;
	overflow: hidden;
}
#holder {
	width: 900000000000px;
	height: 300px;
}
#holder img {
	width: 650px;
	height: 300px;
	float: left;
}
ul li{
	margin-top: 10px;
	margin-left: 20px;
  padding: 6px;
  color: black;
}
h3{
	width: 550px;
	margin-top: -320px;
	font-size: 20px;
	margin-left: 55px;
	font-style: italic;
}
#imagi img{
margin-top: 200px;	
	width: 330px;
	height: 260px;
	
	margin-left: 20px;

}

#sad img{
	width: 170px;
	height: 170px;

}
#sade img{
    width: 170px;
    height: 1200px;
    float: left;

}
#kovc img{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 350px;
    margin-top: -290px;
}
#slg img{
	overflow: hidden;
}
#slova img{
	width: 650px;
	height: 470px;
}
#sadd img{
	  width: 140px;
    height: 1300px;
    float: right;
    margin-top: -1355px;
    padding-right: 20px;
}
span{
	color: blue;
	text-decoration: underline;
}

@media(max-width: 500px){
    #sad img{
        width: 110px;
        height: 110px;
        margin-top: 180px;
        margin-bottom: -134px;
    }
    .textic{
    	font-size: 15px;
    }
    #sade img{
    	width: 0px;
    	height: 0px;

    }
    #sadd img{
    	display: none;
    }
    

}
